body {
            background-image: url("images\background.jpg");
            background-size: cover;
            background-position: center;
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 140vh;
            background-image: url("images/background.jpg");
        }

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: whitesmoke;
}

#loginContainer, #registerContainer, #todoContainer {
    background-color: black;
    border: 1px solid mediumorchid;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 8px;
    color: white; /* Set label text color to white */
}

input {
    width: 80%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: blueviolet;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    margin-bottom: 8px;
    color: white; /* Set text color to white */
}

input[type="checkbox"] {
    margin-right: 10px;
}

#filterSelect {
    padding: 8px;
}

button, select {
    margin-top: 10px;
}

button, select, input[type="text"], input[type="password"], input[type="number"] {
    font-size: 16px;
}

.gender-options {
    display: flex;
    align-items: center;
}

.gender-options label {
    margin-right: 10px;
    width: 100px; 
}

.gender-options input {
    width: 20px; 
}

#closingButtonContainer {
    text-align: center;
    margin-top: 20px;
}
